*{
  margin: 0;
  padding: 0;
}
body{
  font: 16px "Roboto Condensed",sans-serif;
}

.cont{
  width: 960px;
  margin: 0px auto;
}

.block{
  position: relative;
  padding: 20px 20px;
  h3{
    font-size: 47px;
    text-align: center;
    margin: 20px 0;
  }
}

.block1{
  .item{
    width: 430px;
    height: 440px;
    background: #eaedf1;
    margin: 12px 12px;
    vertical-align: top;
    display: inline-block;
    img{
      width: 100%;
    }
    .text{
      font-size: 17px;
      font-weight: 300;
      line-height: 22px;
      text-align: left;
      padding-left: 20px;
      padding-right: 10px;
      .title{
        font-size: 24px;
        font-weight: 700;
        line-height: 40px;
        margin-top: 10px;
        text-transform: uppercase;
      }
      p{
        font-size: 14px;
      }
    }
  }
}

.block2{
  background-color: #ECEFF0;
  .item{
    margin: 7px 4px;
    vertical-align: top;
    display: inline-block;
    text-decoration: none;
    img{
      width: 187px;
      height: 140px;
    }
  }
}

.block3{
  .cont{
    position: relative;
    background: url("../img/img1.jpg");
    height: 680px;
  }
  .item{
    font-size: 15px;
    font-weight: 300;
    line-height: 18px;
    width: 250px;
    position: absolute;
    .title{
      font-size: 20px;
      font-weight: 700;
      line-height: 23px;
      text-transform: uppercase;
      margin-bottom: 5px;
    }
  }
  .item1{
    left: 75px;
    top: 30px;
  }
  .item2{
    right: 0px;
    top: 270px;
  }
  .item3{
    left: 40px;
    top: 490px;
  }
}